API_LOGIN=ваш_логин_api
API_PASSWORD=ваш_пароль_api
API_BASE_URL=https://hosting.glonasssoft.ru/api/v3
DB_TYPE=sqlite # или postgres

PG_HOST=localhost
PG_PORT=5432
PG_DB_NAME=glonass_db
PG_USER=glonass_user
PG_PASSWORD=glonass_password