API_LOGIN=ваш_логин_api
API_PASSWORD=ваш_пароль_api
API_BASE_URL=https://hosting.glonasssoft.ru/api/v3

VEHICLE_ID_1=Ваш ID автотехники № 1
VEHICLE_ID_2=Ваш ID автотехники № 2
CLIENT_PARENT_ID=Id PARENT CLIENT